Options -Indexes

<IfModule mod_authz_core.c>
  <FilesMatch "\.php$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "\.php$">
    Deny from all
  </FilesMatch>
</IfModule>
